<%- locals = {:f => f} %>
<%= hook :pos_form_fields, locals do %>
  <%= f.field_container :task do %>
    <%= f.label :task, t("task") %><br />
    <%= f.text_field :task , :size => 100 %>
    <%= error_message_on :pos, :task %>
  <% end %>

  <%= f.field_container :due_at do %>
    <%= f.label :due_at, t("due_at") %><br />
    <%= f.error_message_on :due_at %>
    <%= f.spree_date_picker :due_at %>
    <% end %>

  <%= f.field_container :done do %>
    <%= f.label :done, t("done")%><br />
    <%=f.check_box :done %>
  <% end %>

  <%= f.field_container :user_id do %>
    <%= f.label :user_id, t("admin") %><br />
    <%= f.collection_select(:user_id, @admins, :id, :email, {}, {"style" => "width:200px"})  %>
    <%= error_message_on :pos, :user_id %>
  <% end %>
  
  <% object.source_id = params[:source_id] if params[:source_id] %>
  <% object.source_type = params[:source_type] if params[:source_type] %>
  <%= f.hidden_field :source_type  %>
  <%= f.hidden_field :source_id  %>
  
  <p><%=  raw "#{I18n.t('source')}: #{source_link(object)}" if object.source_id %></p>
<% end %>


