<% content_for :head do -%>
<SCRIPT TYPE="text/javascript">
<!--
var newwindow;
function poptastic(url)
{ newwindow=window.open(url,'Print','width=400,left=300,top=50,resizable=no,scrollbars=yes,toolbar=yes,status=no');
  if (window.focus) {newwindow.focus()}
}
//-->
</SCRIPT>
<% end %>
<%= render 'shared/error_messages', :target => @pos %>
<div class="search">
    <legend><%= t('add_product') %>  </legend>
    
    <%= form_for [:admin, :pos ,  @search] do |f| %>
    <input type="hidden" value="1" name="index">
      <div class="box">
        <p>
          <%= f.label :variants_including_master_sku_contains, t("sku") %><br />
          <%= f.text_field :variants_including_master_sku_contains, :size => 15 %>
          <%= button t("search") %>
        </p>
      </div>
    <% end %>
</div>        
<div class="right">
  <a href="javascript:poptastic('/admin/pos/print');"> <img src="/images/print/print.gif" alt="Print"/> </a>
  <a href="javascript:if (newwindow) newwindow.close()"><img src="/images/print/close_print.gif" alt="Close Print"/></a>  
  <a href="/admin/pos/new" onclick="javascript:if (newwindow) newwindow.close()"><img src="/images/print/customer.gif" alt="New Customer"/></a>  
</div>
<table class="index">
  <tr>
    <th><%= t('item_description') %></th>
    <th class="price"><%= t('price') %></th>
    <th><%= t('remove') %></th>
    <th><%= t('discount') %></th>
  </tr>

  <% @items.each do | id , price | 
    variant = Variant.find id %>
    <tr>
      <td width="300"><%=variant.name%> <%= "(" + variant_options(variant) + ")" unless variant .option_values.empty? %></td>
      <td class="price"><%= number_to_currency price %></td>
      <td> <%= link_to image_tag("/images/admin/icons/delete.png") , "/admin/pos/remove/#{id}"  %> </td>
      <td> DISC </td>
    </tr>
  <% end %>

  <tr class="total">
    <td colspan="2"><b><%= t('order_total') %>:</b></td>
    <td colspan="2" class="total"><span id="order_total"><%= number_to_currency item_total %></span></td>
  </tr>
</table>
<br/>
