<% content_for :head do -%>
  <SCRIPT TYPE="text/javascript">
  <!--
  var newwindow;
  function poptastic(url)
  { newwindow=window.open(url,'Print','width=400,left=300,top=50,resizable=no,scrollbars=yes,toolbar=yes,status=no');
    if (window.focus) {newwindow.focus()}
  }
  //-->
  </SCRIPT>
<% end %>
<% content_for :sidebar do %>
  <div class="search">
      <legend><%= t('add_product') %>  </legend>

      <%= form_tag "/admin/pos/index" , :id => "product_search" do  %>
      <input type="hidden" value="1" name="index">
        <div class="box">
          <p>
            <%= label_tag :sku, t("sku") %><br />
            <%= text_field_tag :sku, "" , :size => 15 %>
            <%= button t("search") %>
          </p>
        </div>
      <% end %>
  </div>        
  <script type="text/javascript" language="JavaScript">
    document.getElementById('sku').focus();
  </script>
  <% @pix = 30 %>
  <div class="right">
     Discount 
     <%= form_tag do %>
     <%= select_tag("discount" , options_for_select( ["",0,5,10,15,20,25,30,35,40,50,70] ), :onchange => 'this.form.submit()')%> 
     <%end%>
	<form oninput="x.value=parseInt(a.value)">0 
	<input type="range" name="a" value="0" min="0" max="70" value="0" step="5"/> 70
	 = <span style="font-weight:bold; font-size:14px;"><output name="x" for="a"></output> %</span>
	</form>

  </div><br/><br/><br/>
  <a href="javascript:poptastic('/admin/pos/print');" alt="Print"/>
      <%= image_tag "admin/pos/print.png" %>
  </a>
  <a href="javascript:if (newwindow) newwindow.close()">
    <%= image_tag "admin/pos/close_print.png" , :alt => "Close Print" %> 
  </a>  
  <a href="/admin/pos/new" onclick="javascript:if (newwindow) newwindow.close()">
    <%= image_tag "admin/pos/customer.png" , :alt => "New Customer" %> 
  </a>  <br/>
  <%= image_tag "admin/pos/barcode.jpg" , :alt => "Trenner" , :width => 280 , :height => 15 %>  <br/>
  <a href="/admin/pos/export" target="_blank">
    <%=  image_tag("admin/pos/export.jpg" )   if Spree::Config[:pos_export]%> 
  </a>  
  <a href="/admin/pos/inventory">      
    <%= image_tag "admin/pos/inventory_plus.png" , :alt => "Add Inventory" , :width => 80 , :height => 80 %>  <br/>
  </a>  
  <a href="/admin/pos/inventory?as=true">
    <%= image_tag "admin/pos/inventory.png" , :alt => "As Inventory" , :width => 80 , :height => 80 %>  <br/>
  </a>  
<%end%>
<%= render 'shared/error_messages', :target => @pos %>
<table class="index">
  <tr>
    <th><%= t('item_description') %></th>
    <th><%= t('quantity') %></th>
    <th class="price"><%= t('price') %></th>
    <th><%= t('remove') + "/"+ t('add') %></th>
    <th><%= t('discount') %></th>
  </tr>
  <% items.each_value do | item | %>
  <tr>
    <td width="300">
      <%=  image_tag item.variant.product.images.first.attachment.url(:mini) if item.variant.product.images.first %>
      <%= link_to( "#{item.variant.name} #{item.variant.options_text}" , edit_admin_product_url(item.variant.product)) %>
    </td>
    <td> 
      <%= form_tag do %>
      <%= hidden_field_tag(:quantity_id, item.id) %>
      <%= select_tag("quantity" , options_for_select( (1..20).to_a , item.quantity), :onchange => 'this.form.submit()')%> 
      <%end%>
    </td>
    <td class="price">
      <big>
        <%= form_tag do %> 
        <%= hidden_field_tag(:price, item.id)   %>
        <input type="submit" style="display:none"/>
        <%= text_field_tag "price#{item.id}" , item.price , 
        :onclick => "this.form.price#{item.id}.select()" , 
        :onfocus => "this.form.m#{item.id}.select()"  , :size => 8  %>
        <% end %>
      </big>
    </td>
    <td> 
      <%= link_to image_tag("admin/pos/delete.png", :width =>@pix , :height =>@pix) , "/admin/pos/remove/#{item.id}"  %> 
      <%= link_to image_tag("admin/pos/plus.png", :width =>@pix , :height =>@pix) , "/admin/pos/add/#{item.id}"  %> </td>
    <td>
      <big>  
        <%= form_tag do %>
        <%= hidden_field_tag(:item, item.id) %>
        <%= select_tag("discount" , options_for_select( ["",0,5,10,15,20,25,30,35,40,50,70] , item.price), :onchange => 'this.form.submit()')%> 
        <%end%>
      </big> 
	<form oninput="x.value=parseInt(a.value)">0 
	<input type="range" name="a" value="0" min="0" max="70" value="0" step="5"/> 70
	 = <span style="font-weight:bold; font-size:14px;"><output name="x" for="a"></output> %</span>
	</form>
    </td>
  </tr>
<% end %>

  <tr class="total">
    <td colspan="3"><b><%= t('order_total') %>:</b></td>
    <td colspan="2" class="total"><span id="order_total"><%= number_to_currency item_total %></span></td>
  </tr>
</table>
<br/>
