<% content_for :head do -%>
<SCRIPT TYPE="text/javascript">
<!--
var newwindow;
function poptastic(url)
{ newwindow=window.open(url,'Print','width=400,left=300,top=50,resizable=no,scrollbars=yes,toolbar=yes,status=no');
  if (window.focus) {newwindow.focus()}
}
//-->
</SCRIPT>
<% end %>
<% content_for :sidebar do %>
  <div class="search">
      <legend><%= t('add_product') %>  </legend>

      <%= form_for [:admin, :pos ,  @search]  do |f| %>
      <input type="hidden" value="1" name="index">
        <div class="box">
          <p>
            <%= f.label :variants_including_master_sku_contains, t("sku") %><br />
            <%= f.text_field :variants_including_master_sku_contains, :size => 15 %>
            <%= button t("search") %>
          </p>
        </div>
      <% end %>
  </div>        
  <script type="text/javascript" language="JavaScript">
  document.forms['product_search'].elements['search[variants_including_master_sku_contains]'].focus();
  </script>
  <div class="right">
     Discount<br/>  <% [5,10,15,20,25].each do |i| %> 
      <%= link_to image_tag("/images/print/#{i}.jpg") , :discount => i  %> 
      <%end%> 
      <%= link_to image_tag("/images/print/delete.png") , "/admin/pos/index?discount=0" %>
  </div><br/><br/><br/>
  <a href="javascript:poptastic('/admin/pos/print');"> <img src="/images/print/print.gif" alt="Print"/> </a>
  <a href="javascript:if (newwindow) newwindow.close()"><img src="/images/print/close_print.gif" alt="Close Print"/></a>  
  <a href="/admin/pos/new" onclick="javascript:if (newwindow) newwindow.close()">
    <img src="/images/print/customer.gif" alt="New Customer"/></a>  <br/>
<%end%>
<%= render 'shared/error_messages', :target => @pos %>
<table class="index">
  <tr>
    <th><%= t('item_description') %></th>
    <th class="price"><%= t('price') %></th>
    <th><%= t('remove') %></th>
    <th><%= t('discount') %></th>
  </tr>

  <% @items.each do | id , price | 
    variant = Variant.find id %>
    <tr>
      <td width="300">
        <%=  image_tag variant.product.images.first.attachment.url(:mini) %>
      <%=variant.name%> <%= "(" + variant_options(variant) + ")" unless variant .option_values.empty? %></td>
      <td class="price"><%= form_tag do %> 
                  <%= hidden_field_tag(:price, id)   %>
                  <input type="submit" style="display:none"/>
                  <%= text_field_tag "price#{id}" , price , :onclick => "this.form.price#{id}.select()" , 
                                      :onfocus => "this.form.m#{id}.select()"  , :size => 8  %>
                    <% end %></td>
      <td> <%= link_to image_tag("/images/admin/icons/delete.png") , "/admin/pos/remove/#{id}"  %> </td>
      <td><big>  <% [5,10,15,20,25].each do |i| %>
        <%= link_to image_tag("/images/print/#{i}.jpg") , :discount => i , :item => id %>
        <%end%></big> 
        <%= link_to image_tag("/images/print/delete.png") , "/admin/pos/index?discount=0&item=#{id}" %>   
      </td>
    </tr>
  <% end %>

  <tr class="total">
    <td colspan="2"><b><%= t('order_total') %>:</b></td>
    <td colspan="2" class="total"><span id="order_total"><%= number_to_currency item_total %></span></td>
  </tr>
</table>
<br/>
