<% content_for :head do -%>
<SCRIPT TYPE="text/javascript">
<!--
var newwindow;
function poptastic(url)
{ newwindow=window.open(url,'Print','width=400,left=300,top=50,resizable=no,scrollbars=yes,toolbar=yes,status=no');
  if (window.focus) {newwindow.focus()}
}
//-->
</SCRIPT>
<% end %>
<% content_for :sidebar do %>
  <div class="search">
      <legend><%= t('add_product') %>  </legend>

      <%= form_tag "/admin/pos/index"  do  %>
      <input type="hidden" value="1" name="index">
        <div class="box">
          <p>
            <%= label_tag :sku, t("sku") %><br />
            <%= text_field_tag :sku, "" , :size => 15 %>
            <%= button t("search") %>
          </p>
        </div>
      <% end %>
  </div>        
  <script type="text/javascript" language="JavaScript">
  document.forms['product_search'].elements['search[variants_including_master_sku_contains]'].focus();
  </script>
  <div class="right">
     Discount<br/>  <% [5,10,15,20,25].each do |i| %> 
      <%= link_to image_tag("admin/pos/#{i}.png") , :discount => i  %> 
      <%end%> 
      <%= link_to image_tag("admin/pos/delete_discount.png") , "/admin/pos/index?discount=0" %>
  </div><br/><br/><br/>
  <a href="javascript:poptastic('/admin/pos/print');" alt="Print"/>
        <%= image_tag "admin/pos/print.png" %>  </a>
  <a href="javascript:if (newwindow) newwindow.close()"><%= image_tag "admin/pos/close_print.png" , :alt => "Close Print" %> </a>  
  <a href="/admin/pos/new" onclick="javascript:if (newwindow) newwindow.close()">
    <%= image_tag "admin/pos/customer.png" , :alt => "New Customer" %> </a>  <br/>
<%end%>
<%= render 'shared/error_messages', :target => @pos %>
<table class="index">
  <tr>
    <th><%= t('item_description') %></th>
    <th><%= t('quantity') %></th>
    <th class="price"><%= t('price') %></th>
    <th><%= t('remove') + "/"+ t('add') %></th>
    <th><%= t('discount') %></th>
  </tr>

  <% items.each_value do | item | %>
    <tr>
      <td width="300">
        <%=  image_tag item.variant.product.images.first.attachment.url(:mini) if item.variant.product.images.first %>
      <%= link_to( "#{item.variant.name} #{item.variant.options_text}" , edit_admin_product_url(item.variant.product)) %></td>
      <td> <%=item.quantity%></td>
      <td class="price"><%= form_tag do %> 
                  <%= hidden_field_tag(:price, item.id)   %>
                  <input type="submit" style="display:none"/>
                  <%= text_field_tag "price#{item.id}" , item.price , 
                  :onclick => "this.form.price#{item.id}.select()" , 
                                      :onfocus => "this.form.m#{id}.select()"  , :size => 8  %>
                    <% end %></td>
      <td> <%= link_to image_tag("admin/pos/delete.png") , "/admin/pos/remove/#{item.id}"  %> 
        <%= link_to image_tag("admin/pos/plus.png") , "/admin/pos/add/#{item.id}"  %> </td>
      <td><big>  <% [5,10,15,20,25].each do |i| %>&nbsp;
        <%= link_to image_tag("admin/pos/#{i}.png") , :discount => i , :item => item.id %>
        <%end%></big> 
        &nbsp;&nbsp;<%= link_to image_tag("admin/pos/delete_discount.png") , "/admin/pos/index?discount=0&item=#{item.id}" %>   
      </td>
    </tr>
  <% end %>

  <tr class="total">
    <td colspan="3"><b><%= t('order_total') %>:</b></td>
    <td colspan="2" class="total"><span id="order_total"><%= number_to_currency item_total %></span></td>
  </tr>
</table>
<br/>
