<table>
  <tr>
    <td>
    <table class="index" id='listing_products'>
      <tr>
          <th><%= t("image") %></th>
          <th><%= sort_link @search,:product_name, t("name"), {}, {:title => 'admin_products_listing_name_title'} %></th>
          <th><%= sort_link @search,:price, t("master_price") %></th>
          <th><%= t("select") %></th>
      </tr>
      <% @variants.each do |variant| %>
      <% next if variant.is_master and variant.product.has_variants?%>
        <tr <%= 'style="color:red;"' if variant.deleted? %> id="<%= dom_id variant %>">
          <td><% if variant.images.first  %>
              <%= image_tag variant.images.first.attachment.url(:mini) %>
              <%elsif variant.product.images.first %>
              <%= image_tag variant.product.images.first.attachment.url(:mini) %>
              <% end %>
          </td>
          <td> <%= link_to( "#{variant.name} #{variant.options_text}" , edit_admin_product_url(variant.product)) %>
          <br> <%== variant.description[0 .. 200]  %></td>
          <td><%= variant.price %></td>
          <td class="actions">
              <%= link_to( image_tag('admin/pos/select.jpg'), "/admin/pos/add/#{@order.number}/#{variant.id}") %>
          </td>
        </tr>
      <% end %>
    </table>
    <% @pos = @variants %>
    </td>
  </tr>
</table>
<%= paginate @variants %>

<% content_for :sidebar do %>
  <%= form_for [:admin, :pos ,  @search] do |f| %>
    <div class="box">
      <h3><%= t(:search) %></h3>
      <p>
        <%= f.label :product_name_contains, t("name") %><br />
        <%= f.text_field :product_name_contains, :size => 15 %>
      </p>
      <p>
        <%= f.label :product_description_contains, t("description") %><br />
        <%= f.text_field :product_description_contains, :size => 15 %>
      </p>
      <p>
        <%= f.label :sku_contains, t("sku") %><br />
        <%= f.text_field :sku_contains, :size => 15 %>
      </p>
      <p>
        <%if Spree::Variant.instance_methods.include? "ean"%>
        <%= f.label :ean_equals, t("ean") %><br />
        <%= f.text_field :ean_equals, :size => 15 %>
        <% end %>
      </p>
      <p>
        <%= f.label :price_less_than, t("price_min") %><br />
        <%= f.text_field :price_less_than, :size => 15 %>
      </p>
      <p>
        <%= f.label :price_gte, t("price_max") %><br />
        <%= f.text_field :price_gte, :size => 15 %>
      </p>

      <p class="form-buttons">
        <%= button t("search") %>
      </p>
    </div>
  <% end %>
<%end%>
